body {
  font-family: sans-serif;
  background: #f9f9f9;
  padding: 20px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  margin-bottom: 20px;
}

#notifications {
  margin-top: 20px;
}

.notification {
  border: 1px solid #ccc;
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}